table {
    border: 1px black solid;
    border-collapse: collapse;
    margin: auto;
}

h1 {
    position: absolute;
    display: block;
    align-items: center;
    margin: auto;
    color: gray;
    background-color: yellow;
}

h2 {
    position: absolute;
}

td {
    width: 34px;
    height: 34px;
    background-image: url("https://i.imgur.com/sljAQJ1.png");
    
}

ul {
    margin: auto;
    display: inline-block;
}

li {
    list-style-type: none;
    border: 1px black solid;
    background-color: cyan;
    cursor: pointer;
}

#opponentGrid td:hover {
    background-image: url('http://www.publicdomainpictures.net/pictures/150000/velka/cyan-blue-colour.jpg');
    background-color: cyan;
}

#horiVert {
    margin: auto;
    text-align: right;
    display: inline-block;
    position: relative;
}