* {
    font-family: 'Russo One', sans-serif;
}

table {
    border-collapse: collapse;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 35%;
    display: inline-block;
}

body {
    /*background-image: url("https://vignette.wikia.nocookie.net/althistory/images/c/c3/Flag_of_the_Soviet_Union.png/revision/latest?cb=20150709212906");
    background-color: #BC261A;*/
    background-color: grey;
}

h1 {
    position: absolute;
    display: block;
    align-items: center;
    margin: auto;
    color: gray;
    background-color: yellow;
}

h2 {
    position: absolute;
    color: yellow;
}

td {
    width: 34px;
    height: 34px;
    background-image: url("https://i.imgur.com/sljAQJ1.png");
    
}
#buttons {
    position: absolute;
    align-content: right;
    margin-left: 66.66%;
}
ul {
    margin: auto;
    display: inline-block;
}

li {
    list-style-type: none;
    border: 1px darkSlateGrey solid;
    background-color: cyan;
    cursor: pointer;
    padding: 2px;
}

#opponentGrid td:hover {
    background-image: url('http://www.publicdomainpictures.net/pictures/150000/velka/cyan-blue-colour.jpg');
    background-color: cyan;
}

#horiVert {
    margin: auto;
    text-align: right;
    display: inline-block;
    position: relative;
}