* {
    font-family: 'Russo One', sans-serif;
}

#title {
    position: absolute;
    display: block;
    margin-left: 5%;
    margin-top: 2%;
}

table {
    border-collapse: collapse;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 37%;
    display: inline-block;
}

.stalin {
    background-color: red;
    width: 299px;
    height: 402px;
    position: absolute;
    display: inline-block;
    border: 2px solid black;
    margin-top: 20%;
    margin-left: 5%;
    border-radius: 10px;
}

#reagan {
    display: inline-block;
    position: absolute;
    border: 2px solid black;
    background-color: blue;
    margin-top: -25%;
    margin-left: 69%;
    border-radius: 10px;
}

#speech {
    margin-top: 20%;
    margin-left: 20%;
}

#reaganSpeech {
    margin-top: 20%;
    margin-left: 65%;
}

.bubble {
    width: 170px;
    height: 70px;
    background-color: white;
    border: 1px solid darkslategrey;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

body {
    background-color: grey;
}

h1 {
    position: absolute;
    display: block;
    align-items: center;
    margin: auto;
    color: gray;
    background-color: yellow;
}

h2 {
    position: absolute;
    color: yellow;
}

td {
    width: 34px;
    height: 34px;
    background-image: url("https://i.imgur.com/sljAQJ1.png");
}
#buttons {
    position: absolute;
    align-content: right;
    margin-left: 66.66%;
    margin-top: -50%;
}
ul {
    margin: auto;
    display: inline-block;
}

li {
    list-style-type: none;
    border: 1px darkSlateGrey solid;
    background-color: cyan;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
}

#opponentGrid td:hover {
    background-image: url('https://www.publicdomainpictures.net/pictures/150000/velka/cyan-blue-colour.jpg');
    background-color: cyan;
}

#horiVert {
    margin: auto;
    text-align: right;
    display: inline-block;
    position: relative;
}